{% extends 'base.html' %}

{% block header %}
  <h1><a href="{{ url_for('device.index') }}">Devices</a>&nbsp;&gt;&nbsp;{% block title %}Edit Device{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or device['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or device['description'] }}</textarea>
    <label for="address">Address</label>
    <input type="text" name="address" id="address" value="{{ request.form['address'] or device['address'] }}">
    <input type="submit" value="Update">
  </form>
  <form action="{{ url_for('device.delete', id=device['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}