{% extends 'base.html' %}

{% block header %}
  <h1><a href="{{ url_for('location.index') }}">Locations</a>&nbsp;&gt;&nbsp;{{ location['name'] }}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or location['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or location['description'] }}</textarea>
    <input type="submit" value="Update">
  </form>
  
  <form action="{{ url_for('location.delete', id=location['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>

  <section class="floors">
    <h2>Floors</h2>
    <ul class="location-floors">
      {% for floor in location['floors'] %}
      <li data-id="{{ floor['id'] }}">
        <a href="{{ url_for('floor.update', id=floor['id']) }}">{{ floor['name'] }}</a>
        <ul class="floor-rooms">
          {% for room in floor['rooms'] %}
          <li data-id="{{ room['id'] }}">
            {{ room['name']}}
            <h4>Devices</h4>
            <ul class="room-devices">
              {% for device in room['devices'] %}
              <li data-id="{{ device['id'] }}">{{ device['name'] }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}