html {
    font-family: $font-stack;
    font-size: 16px;
    color: #eee;
    background: #222;
    
    body {
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
        font-size: 0.7rem;

        h1 {
            font-size: 0.9rem;
            color: #eee;
            margin: 0.5rem 0;

            a {
                text-decoration: none;
            }
        }
        a { color: #eee; }
        hr { border: none; border-top: 1px solid lightgray; }

        /* Form elements */
        label { font-weight: bold; margin-bottom: 0.5em; }
        input[type=button], input[type=submit] {
            /*
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border-color: #999999;
            border-width: 1px;
            */
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        input.danger { color: #cc2f2e; }
        input[type=submit] { align-self: start; min-width: 10em; }
        input, textarea { margin-bottom: 1em; }
        textarea { min-height: 3em; resize: vertical; }

        ul {
            list-style-type: none;
            padding-left: 0.5rem;

            li p {
                font-style: italic;
            }
        }

        .flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #eee; }
    }
}
