$base-font-size: 16px;
$font-stack:    Helvetica, sans-serif;
$phone-width-max:	px-to-rem(799px);
$tablet-width-min:	px-to-rem(800px);
$tablet-width-max:	px-to-rem(1280px);
$lapdesk-width-min:	px-to-rem(1281px);
$lapdesk-width-max:	px-to-rem(1900px);
$tv-width-min:	px-to-rem(1901px);