{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Networks{% endblock %}</h1>
{% endblock %}
{% block content %}
  <div id="view-index">
    
    <br>
    {% for network in networks %}
      <section class="network">
        <h1><a href="{{ url_for('network.update', id=network['id']) }}">{{ network['name'] }}</a></h1>
        <input type="hidden" name="id" id="id" value="{{ network['id'] }}">
        
        <p class="network-description">{{ network['description'] }}</p>
        
        <div class="network-name">{{ network['name'] }}</div>
                
        <div class="network-created">Created on {{ network['created'].strftime('%Y-%m-%d') }}</div>
        
        {% if not loop.last %}
        <hr>
        {% endif %}
        <div id="result"></div>
      </section>
    {% endfor %}
    <section class="network">
      <div class="action-add"><a href="{{ url_for('network.create') }}">+</a></div>
      <div class="action-label"><a href="{{ url_for('network.create') }}">Add</a></div>
    </section>
  </div>
{% endblock %}