{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Room{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="description">Description</label>
    <input name="description" id="description" value="{{ request.form['description'] }}">
    <label for="location_id">Floor</label>
    <select name="floor_id">
    	{% for floor in floors %}
    	<option value="{{ floor['id'] }}">{{ floor['name'] }}</option>
    	{% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
{% endblock %}